<div class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">NÉ</h1>

      </div>
      <h3>Welcome to Nouveauté</h3>
      <p>Perfectly designed and precisely prepared Dashboard for your business.
        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
      </p>


        <div class="form-group">
          <input type="email" [(ngModel)]="username" class="form-control" placeholder="Username" required="">
          
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" required="">
        </div>
        <button (click)="login()"  class="btn btn-primary block full-width m-b">Login</button>


      <p class="m-t"> <small>Nouveauté Solutions Network © 2017</small> </p>
    </div>
  </div>
</div>